<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- sub nav for admin section -->
<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="account">
  <router-outlet name="subnav"></router-outlet>
</nav>

<!-- main app container -->
<alert></alert>
<router-outlet></router-outlet>